* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  @font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.woff2?t=1676370354837') format('woff2'),
         url('../fonts/iconfont.woff?t=1676370354837') format('woff'),
         url('../fonts/iconfont.ttf?t=1676370354837') format('truetype');
  }

  .iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }